@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@400;700&display=swap');

        * {
            font-family: 'Chivo Mono', monospace;
        }

        div {
            text-align: center;           
        }

        .img {
             width: 25%;
             border-radius: 60px;
        }