body {
    background-image: url(https://www.gov.br/planalto/pt-br/conheca-a-presidencia/acervo/simbolos-nacionais/bandeira/bandeiragrande.jpg/@@images/image);
}

h1 {
    font-weight: 800;
    font-size: 100px;
    text-align: center;

    color: brown;
}